.coaches h2 {
  margin: 0;
  padding: 0;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-weight: 600;
  font-size: 54px;
  line-height: 64.8px;
  letter-spacing: 1.62px;
  margin-bottom: 48px;
}

.coaches__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.coaches__item {
  position: relative;
  padding: 30px 30px 22px 30px;
  width: calc(100vw - 326px) / 4;
  height: calc(((100vw  - 326px) / 4) * 294 / 260);
  max-width: 260px;
  max-height: 294px;
  background-color: $color-dark;
}

.coaches__item-content {
  height: 100%;
  display: flex;
  align-items: flex-end;
  //visibility: hidden;
}

.coaches__item-content h3 {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: $color-default-white;
  margin: 0 auto;
  z-index: 1;
}

.coaches__item-hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: 5;
  padding: 28px 25px 35px 25px;
  background-color: gray;
  display: flex;
  flex-direction: column;
}

.coaches__item:hover .coaches__item-content,
.coaches__item:focus-within .coaches__item-content {
  visibility: hidden;
  opacity: 1;
}

.coaches__item:hover .coaches__item-hidden,
.coaches__item:focus-within .coaches__item-hidden {
  visibility: visible;
  opacity: 1;
}

.coaches__item-hidden-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
  user-select: none;
  overflow-y: auto;
}

.coaches__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

