.coaches {
  position: relative;
  padding-bottom: 140px;
}

.coaches__slider {
  max-width: 1160px;
  width: 100%;

  @media (max-width: 1199.9px) {
    width: calc((100% - 112px));
    height: auto;
    aspect-ratio: 2 / 1.04;
  }

  @media (max-width: 767.9px) {
    width: calc((100% - 65px));
    aspect-ratio: unset;
  }
}

.coaches h2 {
  margin: 0;
  padding: 0;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-weight: 600;
  font-size: 54px;
  line-height: 64.8px;
  letter-spacing: 1.62px;
  margin-bottom: 48px;
  color: $color-dark;

  @media (max-width: 1199.9px) {
    font-size: 42px;
    line-height: 50.4px;
    letter-spacing: 1.26px;
    text-align: center;
    margin-left: -5px;
    margin-bottom: 31px;
  }

  @media (max-width: 767.9px) {
    font-size: 32px;
    line-height: 38.4px;
    letter-spacing: 0.96px;
    margin-left: -5px;
    margin-bottom: 43px;
  }
}

.coaches__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.coaches__item {
  position: relative;
  width: calc((100% - 120px) / 4);
  height: auto;
  background-color: $color-dark;

  @media (max-width: 1199.9px) {
    width: calc((100% - 30px) / 2);
  }

  @media (max-width: 767.9px) {
    width: 100%;
  }
}

.coaches__image {
  width: 100%;
  height: 100%;
}

.coaches__image img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;

  @media (max-width: 767.9px) {
    object-fit: cover;
    height: 100%;
  }
}

.coaches__item-content {
  position: absolute;
  bottom: 7.5%;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  //visibility: hidden;
}

.coaches__item-content h3 {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: $color-default-white;
  text-align: center;
  margin-top: auto;

  @media (max-width: 1199.9px) {
    transform: translateX(4px);
  }
}

.coaches__item-hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: 5;
  padding: 52px 25px 25px 25px;
  background-color: $color-item-hidden;
  display: flex;
  flex-direction: column;

  @media (max-width: 1199.9px) {
    padding: 52px 17px 25px 17px;
  }

  @media (max-width: 767.9px) {
    padding: 41px 24px 20px 24px;
  }
}

.coaches__item-hidden h4 {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: $color-default-white;
  margin: 0 auto;
  margin-bottom: -4px;
  text-align: center;
}

.coaches__item-hidden span {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $color-text-hidden;
  margin: 0 auto;
  margin-bottom: 32px;
}

.coaches__item:hover .coaches__item-content,
.coaches__item:focus-within .coaches__item-content {
  visibility: hidden;
  opacity: 1;
}

.coaches__item:hover .coaches__item-hidden,
.coaches__item:focus-within .coaches__item-hidden {
  visibility: visible;
  opacity: 1;
}

.coaches__item-hidden-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  user-select: none;
  overflow-y: auto;
}

// ::-webkit-scrollbar {
//   width: 0px;
//   background: transparent;
// }

.coaches__item-hidden-item {
  position: relative;
  color: $color-default-white;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-left: 45px;

  @media (max-width: 1199.9px) {
    margin-left: 54px;
  }

  @media (max-width: 767.9px) {
    margin-left: 25px;
  }
}

.coaches__item-hidden-item + .coaches__item-hidden-item {
  margin-top: 14px;
}

.coaches__item-hidden-item::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  top: 7px;
  left: -15px;
  background-image: url("../../img/svg/icon-list.svg");
}

.coaches__button-prev {
  color: $color-swiper-buttons;
  top: 47.5%;
  left: -20px;

  @media (max-width: 1300px) {
    left: 0;
  }

  @media (max-width: 1250px) {
    left: 10px;
  }

  @media (max-width: 1199.9px) {
    top: 61%;
    left: 30px;
  }

  @media (max-width: 1050px) {
    top: 61%;
    left: 42px;
  }

  @media (max-width: 767.9px) {
    top: 61.6%;
    left: 14px;
  }
}

.coaches__button-next {
  color: #AFAFAF;
  top: 47.5%;
  right: -20px;

  @media (max-width: 1300px) {
    right: 0;
  }

  @media (max-width: 1250px) {
    right: 10px;
  }

  @media (max-width: 1199.9px) {
    top: 61%;
    right: 30px;
  }

  @media (max-width: 1050px) {
    top: 61%;
    right: 42px;
  }

  @media (max-width: 767.9px) {
    top: 61.6%;
    right: 14px;
  }
}

