.description {
  display: flex;
  margin-top: 99px;

  @media (max-width: 1199.9px) {
    margin-top: 69px;
  }

  @media (max-width: 767.9px) {
    justify-content: center;
  }
}

.description__info {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: max-content max-content max-content max-content;
  column-gap: 4.5%;

  @media (max-width: 1199.9px) {
    column-gap: 8.6%;
  }

  @media (max-width: 767.9px) {
    column-gap: 0.6%;
  }
}

.description__services {
  grid-row: 2 / 4;
  grid-column: 1 / 2;
  display: flex;
  align-items: center;
  margin-left: 20px;

  @media (max-width: 1199.9px) {
    margin-left: -2px;
  }

  @media (max-width: 767.9px) {
    margin-left: 7px;
  }
}

.description__services ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-default-white;
  text-align: right;
  margin-top: 28px;
  place-self: center end;
  padding-bottom: 55px;

  @media (max-width: 1199.9px) {
    margin-top: 22px;
  }

  @media (max-width: 767.9px) {
    place-self: end;
    margin-top: 77px;
  }
}

.description__info span {
  grid-column: 2 / 3;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 57.6px;
  letter-spacing: 1.44px;
  color: $color-default-white;
  text-transform: lowercase;
  place-self: end;
  margin-bottom: 15px;
  margin-right: 52px;

  @media (max-width: 1199.9px) {
    font-size: 34px;
    line-height: 40.8px;
    letter-spacing: 1.02px;
    margin-bottom: 8px;
    margin-right: 4px;
  }

  @media (max-width: 767.9px) {
    font-size: 28px;
    line-height: 33.6px;
    letter-spacing: 0.84px;
    margin-right: 13px;
    margin-bottom: 13px;
  }
}

.description__info h1 {
  margin: 0;
  padding: 0;
  grid-row: 2/3;
  grid-column: 2/3;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-weight: 600;
  font-size: 92px;
  line-height: 110.4px;
  letter-spacing: 4.6px;
  -webkit-text-stroke: 4px;
  color: $color-default-white;
  text-transform: uppercase;
  text-align: right;
  margin-bottom: 48px;
  overflow-wrap: break-word;

  @media (max-width: 1199.9px) {
    font-size: 72px;
    line-height: 86.4px;
    letter-spacing: 3.6px;
    text-transform: none;
    margin-bottom: 36px;
  }

  @media (max-width: 767.9px) {
    transform: translateX(-9px);
    margin-bottom: 22px;
  }
}

.description__button {
  grid-column: 2/3;
  max-width: 233px;
  padding: 20px 54px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14.06px;
  letter-spacing: 0.6px;
  color: $color-default-white;
  text-transform: uppercase;
  border: 4px solid $color-default-white;
  margin-left: auto;
  user-select: none;

  &:hover,
  &:focus-visible {
    background-color: $color-default-white;
    color: $color-tabs-active;
  }

  &:active {
    color: rgba($color-tabs-active, 0.8);
  }

  @media (max-width: 1199.9px) {
    max-width: 185px;
    padding: 20px 30px;
  }

  @media (max-width: 767.9px) {
    grid-column: 1/3;
    max-width: 295px;
    padding: 21px 85px 19px;
    margin: 0 auto;
  }
}

.description__image {
  margin-top: -112px;
  margin-left: 81px;
  background-color: $color-dark;

  @media (max-width: 1199.9px) {
    margin-top: -49px;
    margin-left: 56px;
  }

  @media (max-width: 767.9px) {
    display: none;
  }
}

.description__image img {
  @media (max-width: 1199.9px) {
    width: 324px;
    height: 390px;
  }
}
