.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 28px;
  row-gap: 27px;
  max-width: 410px;

  @media (max-width: 1199.9px) {
    column-gap: 57px;
    max-width: 475px;
  }

  @media (max-width: 767.9px) {
    grid-template-columns: 100%;
    max-width: unset;
    row-gap: 30px;
  }
}

.form__name input,
.form__phone input {
  margin: 0;
  width: 100%;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.41px;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid $color-contacts-border;
  padding: 6px 0;
  color: $color-default-white;

  &:hover,
  &:focus {
    outline: none;
    box-shadow: 5px -5px 10px $color-events-bg;
  }

  &:active,
  &:focus-within {
    outline: none;
    background-color: transparent;
  }
}

.form__name input {
  @media (max-width: 767.9px) {
    grid-column: 1 / 2;
  }
}

.form__phone input {
  @media (max-width: 767.9px) {
    grid-column: 1 / 2;
  }
}

.form__name input::placeholder,
.form__phone input::placeholder {
  color: $color-default-white;
}

.form__button {
  grid-column: 1 / 3;
  width: 100%;
  padding: 16px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: $color-default-white;
  background-color: transparent;
  border: 3px solid $color-default-white;
  display: flex;
  justify-content: center;
  user-select: none;

  &:hover,
  &:focus-visible {
    background-color: $color-default-white;
    color: $color-dark;
  }

  &:active {
    color: rgba($color-dark, 0.8);
  }

  @media (max-width: 1199.9px) {
    margin-left: -2px;
  }

  @media (max-width: 767.9px) {
    grid-column: 1 / 2;
    margin-top: 8px;
    padding: 17px;
  }
}
