.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  column-gap: 11px;
  row-gap: 10px;
}

.social__link svg {
  fill: $color-default-white;
}

.social__link:hover svg,
.social__link:focus svg,
.social__link:focus-visible svg {
  fill: $color-footer-nav;
}

.social__link:active svg {
  fill: rgba($color-footer-nav, 0.8);
}
