.tabs {
  max-width: 100%;
  margin: 0 auto;
}

.tabs__controls {
  position: relative;
  display: grid;
  grid-template-columns: max-content max-content max-content;
  column-gap: 34px;
  row-gap: 20px;
  width: fit-content;
  margin: 0 auto 50px auto;

  @media (max-width: 1199.9px) {
    column-gap: 43px;
    margin: 0 auto 55px auto;
  }

  @media (max-width: 767.9px) {
    column-gap: 45px;
    margin: 0 auto 50px auto;
  }
}

.tabs__controls::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -12px;
  left: 0;
  height: 2px;
  background: $color-tabs;
  opacity: 0.2;

  @media (max-width: 767.9px) {
    bottom: -15px;
  }
}

.tabs__control {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: $color-dark;
  opacity: 0.5;
  background-color: transparent;
  cursor: pointer;
  min-width: auto;
  justify-content: center;

  &:hover,
  &:focus-visible {
    color: $color-tabs-price;
  }

  &:active {
    color: rgba($color-tabs-price, 0.7);
  }

  @media (max-width: 1199.9px) {
    font-size: 18px;
    line-height: 27px;
  }

  @media (max-width: 767.9px) {
    padding: 0;
    font-size: 16px;
    line-height: 24px;
  }

  &.is-active {
    opacity: 1;
    pointer-events: none;
    border-bottom: 2px $color-tabs-active solid;
    margin-bottom: -12px;

    @media (max-width: 767.9px) {
      margin-bottom: -15px;
    }
  }
}

.tabs__content {
  margin-bottom: 40px;
  transition: height 0.3s;
}

.tabs__element {
  width: 100%;
}

.tabs--unset .tabs__content {
  height: 100px;
}

.tabs--unset .tabs__element {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
