.tabs {
  max-width: 100%;
  margin: 0 auto;
}

.tabs__controls {
  position: relative;
  display: grid;
  grid-template-columns: max-content max-content max-content;
  column-gap: 34px;
  row-gap: 20px;
  width: fit-content;
  margin: 0 auto 50px auto;

  @media (max-width: 1199.9px) {
    column-gap: 43px;
    margin: 0 auto 55px auto;
  }

  @media (max-width: 767.9px) {
    column-gap: 45px;
    margin: 0 auto 50px auto;
  }
}

.tabs__controls::after {
  content: "";
  position: absolute;
  //right: 0;
  right: 5px;
  bottom: -12px;
  left: 4px;
  height: 2px;
  background: #787878;
  opacity: 0.2;
  //width: 97%;

  @media (max-width: 1199.9px) {
    left: 6px;
  }

  @media (max-width: 767.9px) {
    left: -1px;
    bottom: -15px;
    right: 0;
    //width: 100%;
  }
}

.tabs__control {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: $color-dark;
  opacity: 0.5;
  background-color: transparent;
  cursor: pointer;
  min-width: auto;
  justify-content: center;

  &:hover,
  &:focus-visible {
    color: $color-tabs-price;
  }

  &:active {
    color: rgba($color-tabs-price, 0.7);
  }

  @media (max-width: 1199.9px) {
    font-size: 18px;
    line-height: 27px;
  }

  @media (max-width: 767.9px) {
    padding: 0;
    font-size: 16px;
    line-height: 24px;
  }
}

.tabs__control.is-active {
  position: relative;
}

.tabs__control.is-active::before {
  content: "";
  display: block;
  position: absolute;

  // left: 4px;
  // bottom: -12px;
  // width: 88%;

  left: 5px;
  bottom: -12px;
  right: 7px;

  height: 2px;
  background-color: #d10a42;

  @media (max-width: 1199.9px) {
    left: 6px;
    right: 5px;
  }

  @media (max-width: 767.9px) {
    bottom: -15px;
    left: -1px;
    right: -5px;
    //width: 110%;
  }
}

//Возможно убрать
.tabs__control.is-active:focus,
.tabs__control.is-active:focus-visible {
  color: $color-dark;
}

.tabs__control.is-active:active {
  color: $color-dark;
}
//Возможно убрать

.tabs__content {
  margin-bottom: 40px;
  transition: height 0.3s;
}

.tabs__element {
  width: 100%;
}

.tabs--unset .tabs__content {
  height: 100px;
}

.tabs--unset .tabs__element {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
