.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 40px;

  @media (max-width: 1199.9px) {
    padding: 0 45px;
  }

  @media (max-width: 767.9px) {
    padding: 0 15px;
  }
}
