@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    url("../fonts/robotocondensedlight.woff2") format("woff2"),
    url("../fonts/robotocondensedlight.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../fonts/robotocondensedregular.woff2") format("woff2"),
    url("../fonts/robotocondensedregular.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("../fonts/robotocondensedbold.woff2") format("woff2"),
    url("../fonts/robotocondensedbold.woff") format("woff");
}

@font-face {
  font-family: "Alumni Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url("../fonts/alumnisanssemibold.woff2") format("woff2"),
    url("../fonts/alumnisanssemibold.woff") format("woff");
}

@font-face {
  font-family: "Alumni Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("../fonts/alumnisansbold.woff2") format("woff2"),
    url("../fonts/alumnisansbold.woff") format("woff");
}

@font-face {
  font-family: "Alumni Sans";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src:
    url("../fonts/alumnisansextrabold.woff2") format("woff2"),
    url("../fonts/alumnisansextrabold.woff") format("woff");
}
